<title>Avrum Chaim and Shiras family blog</title>

<h1>About Page</h1>
<%= image_tag "profilelogo.png", :size => '185' %>
<p>Purpose of this blog</p>
<p>
  Getting familiar with the ruby on rails framework and eventualy lead a team for serious cload based applications ok.
</p>
<p>
  we will continue to update this blog until we are satified with all diffrent aspects of rails.
 </p>
<%= link_to 'home', root_path %>
