$navbar-default-bg: #D71921;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  overflow: auto;
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
.center {
  text-align: center;
}

.imgac{
  width: 875px;

}
.imgac li {
  width: 33.3%;
  float: left;
  list-style-type: none;
}

.imgac li div{

  border: 0 none;
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}


.jumbotron {
  background-image: asset-url("chess_background");
  background-size: cover;
  height: 550px;
  width: 875px;
}

.btn-xl{
  font-size: 1.7em;
  background-color: black;

}
.article-meta-details{
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
   margin-top: 0;
   margin-bottom: 0;
}
.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body{
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer small{
  float: left;
}

footer ul{
  float: right;
  list-stylet: none;
}

footer ul li{
  float: left;
  margin-left: 15px;
}



