<div class="container">
  <footer clss ="footer">
    <small>
      Copyrights are not reserved! Feel free to copy what ever you wish.
      Created by AC Konig.
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>